@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
    --white: white;
}
/* BOX MODEL - PADDING, BORDER, MARGIN */
 * {
     margin: 0;
     padding: 0;
     border: none;
 }

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--white);
}

header {
    background-color: var(--white);
    width: 100%;
    padding: 3.2rem;
    text-align: center;
    box-sizing: border-box; /* PARA RESPEITAR OS 100% DA LARGURA DO BOX-MODEL */
}

.links {
    font-size: 22px;
}

/* a + a  PEGA O SEGUNDO LINK E APLICA SOMENTE NELE E NAO NO PRIMEIRO LINK*/
/* PODE SER APLICADO SE TIVERMOS MAIS LINKS PARA POR O ESCACO SOMENTE ENTRE OS LINKS*/
.links a + a {
    margin-left: 32px;
 
}

.links a { 
    text-decoration: none;
    color: rgb(170, 167, 167);
    position: relative; /* PARA APLICAR OS AJUSTES NO FILHO A::AFTER */
}
/*DEIXA O LINK ATUAL EM DESTAQUE */
.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

/* DINAMIC HOVER EFFECT APPLY LEFT TO RIGHT */
/* COMECA COM 0 WIDTH E DEPOIS PASSA PRA 100% INDO DE LEFT TO0 RIGHT */
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
/* define a transicao do underline no hover */
.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out 2ms; /* cubic bezier */
}

/* === CARD === */

.card {

    color: rgb(63, 62, 62);
    background-color: var(--white);
    width: 800px;
   /* min-height: 400px;*/

    margin: 45px auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

.avatar {
    background: url("https://source.unsplash.com/collection/11378740/900x900");

    width: 400px;
    height: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
<<<<<<< Updated upstream
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}
.details .item {
    color: rgb(29, 29, 29);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    color: #777;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;

}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: 700;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
=======
>>>>>>> Stashed changes
}