@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

:root {
    --primary-color: #7159c1;
    --white: white;
}
/* BOX MODEL - PADDING, BORDER, MARGIN */
 * {
     margin: 0;
     padding: 0;
     border: none;
 }

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: var(--white);
    width: 100%;
    padding: 3.2rem;
    text-align: center;
    box-sizing: border-box; /* PARA RESPITAR OS 100% DA LARGURA DO BOX-MODEL */
}

.links {
    font-size: 22px;
}

/* a + a  PEGA O SEGUNDO LINK E APLICA SOMENTE NELE E NAO NO PRIMEIRO LINK*/
/* PODE SER APLICADO SE TIVERMOS MAIS LINKS PARA POR O ESCACO SOMENTE ENTRE OS LINKS*/
.links a + a {
    margin-left: 32px;
 
}

.links a { 
    text-decoration: none;
    color: #777;
    position: relative; /* PARA APLICAR OS AJUSTES NO FILHO A::AFTER */
}
/*DEIXA O LINK ATUAL EM DESTAQUE */
.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

/* DINAMIC HOVER EFFECT APPLY LEFT TO RIGHT */
/* COMECA COM 0 WIDTH E DEPOIS PASSA PRA 100% INDO DE LEFT TO0 RIGHT */
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
/* define a transicao do underline no hover */
.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out 2ms; /* cubic bezier */
}